.wrapper {
    flex: 1 auto;
    min-width: 0;
}
.rounded-top-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sidebar {
    transition: padding-left .3s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    overflow: hidden;
    padding: 0 40px;
    background-color: #fff;

    &.sidebar-default {

        .menu-name {
            opacity: 1 !important;
            pointer-events: auto !important;
            display: block;
        }

        .menu {
            &-name {
                opacity: 1 !important;
                pointer-events: auto !important;
                display: block;
            }

            &-link {
                justify-content: flex-start;
            }
        }
    }

    &.sidebar-minimize {
        width: 120px;

        .menu-label {
            opacity: 1 !important;
            pointer-events: auto !important;
            display: block;
        }

        .menu {
            &-link {
                &-title {
                    display: none;
                    white-space: nowrap;
                    opacity: 0;
                }
            }
        }
    }

    .menu {

        &-container {
            height: calc(100vh - 14vh);
            overflow-y: hidden;

            &:hover {
                overflow-y: scroll;
                border-right: 0;
            }
        }

        &-accordion-button {

            .menu-link-title,
            .menu-link-icon:before {
                color: $primary !important;
            }
        }


        &-name {
            display: none;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
            color: $gray-400;
        }

        &-label {
            display: none;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
            color: $gray-400;
        }

        &-link {
            position: relative;
            margin: 0;
            list-style: none;
            display: flex;
            border-radius: 4px;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease;
            color: $gray-600;

            &-title {
                pointer-events: none;
                transition: 0.4s;
                color: $gray-600;
            }

            &-icon {
                transition: 0.4s;
            }

            i {
                color: #A1A5B7;
                height: 50px;
                line-height: 50px;
                border-radius: 12px;
                min-width: 50px;
                text-align: center;
            }


            &-active {
                background-color: #F5F8FA;
                color: $primary !important;
                border-radius: 5px;

                .menu-link {

                    &-title,
                    &-icon:before,
                    &-icon .path1:before,
                    &-icon .path2:before,
                    &-icon .path3:before,
                    &-icon .path4:before {
                        color: $primary !important;
                    }

                }
            }
        }
    }
}

@media (min-width: 992px) {
    .wrapper {
        padding-right: 10px !important;
    }
    .wrapper-minimize {
        padding-left: 120px;
    }

    .wrapper-default {
        padding-left: 250px;
    }

    .sidebar-default {
        padding: 0 40px;
        width: 250px;
        transition: width .3s ease;

        .menu {
            &-accordion {
                .accordion-button::after {
                    display: block;
                }
            }
        }
    }

    .sidebar-minimize {
        width: 120px;

        .menu {
            &-accordion {
                .accordion-button::after {
                    display: none;
                }
            }
        }
    }

    .sidebar:hover {
        width: 250px;

        .menu {
            &-link {
                &-title {
                    display: block;
                    opacity: 1;
                }
            }

            &-name {
                display: block;
                opacity: 1;
            }

            &-label {
                display: none;
                opacity: 0;
            }

            &-accordion {
                .accordion-button::after {
                    display: block;
                }
            }
        }
    }
 
}