.tab-group {
    position: relative;
    clear: both;
    width: 100%;
    .tab-header {
        .tab-label-group {
            margin: 0;
            padding: 0;
            display: flex;
            .tab-label {
                list-style-type: none;
                margin: 0 2rem;
                font-weight: $font-weight-bolder;
                cursor: pointer;
            }
            .tab-active {
                color: $primary;
                border-bottom: 2px solid $primary;
            }
            .tab-active-border-bottom {
                border-bottom: 2px solid $primary;
            }
        }
    }
    .tab-content-group {
        margin: 1rem 2rem;
        .tab-content-sm__scroll {
            height: calc(80vh - 60px);
            overflow: auto;
        }
        .tab-content-lg__scroll {
            height: calc(80vh - 60px - 100px);
            overflow: auto;
        }
    }
}