.tab-group {
    position: relative;
    clear: both;
    width: 100%;

    .tab-header {
        .tab-label-group {
            margin: 0;
            padding: 0;
            display: flex;

            .tab-label {
                list-style-type: none;
                margin: 0 4rem;
                font-weight: $font-weight-bolder;
                color: $secondary-active;
            }

            .tab-active {
                color: $primary;
                border-bottom: 2px solid $primary;
            }

            .tab-active-border-bottom {
                border-bottom: 2px solid $primary;
            }
        }

        &__scroll {
            overflow-x: auto;
            overflow-y: hidden;
            display: -webkit-box;
            display: -moz-box;
            margin: 0;
            padding: 0;

            .tab-label {
                list-style-type: none;
                margin: 0 2rem;
                font-weight: $font-weight-bolder;
            }

            .tab-active {
                color: $primary;
                border-bottom: 2px solid $primary;
            }

            .tab-active-border-bottom {
                border-bottom: 2px solid $primary;
            }
        }

        &-icon {
            .tab-label {
                &-box {
                    height: 35px;
                    width: 35px;
                    line-height: 35px;
                    color: $primary;
                    border-radius: 5px;
                    background-color: #F1FAFF;
                    text-align: center;

                    .tab-label-icon {
                        display: none;
                    }
                }

                &-name {
                    color: #181C32;
                }

                &-active {
                    .tab-label-box {
                        background-color: $primary;
                        color: white;

                        .tab-label-count {
                            display: block;
                        }
                    }

                    .tab-label-name {
                        color: $primary;
                        border-bottom: 2px solid $primary;
                    }
                }
                &-complete {
                    .tab-label-count {
                        display: none;
                    }
                    .tab-label-icon {
                        display: inline;
                    }
                }
            }
        }

    }

    .tab-content-group {

        .tab-content__scroll {
            height: calc(66vh - 60px);
        }

        .tab-content-sm__scroll {
            height: calc(66vh - 18px);
        }

        .tab-content-lg__scroll {
            height: calc(66vh - 90px);
        }
    }

    .tab-plan {
        min-height: 92px;
        width: 500px;
    }
}