.bg-primary-alpha {
  background-color: #F1FAFF;
}
.bg-warning-alpha {
  background-color: #ffc70014;
}
.bg-dander-alpha {
  background-color: #f1416c45 !important;
}
.bg-danger-light-alpha {
  background-color: #eb001b14 !important;
}
.bg-success-alpha {
  background-color: #e8fff3 !important;
}
.bg-gray-secondary {
  background-color: #F5F8FA;
}
.bg-dark-gray {
  background-color: #F8FAFC;
}
.bg-gray {
  background-color: $gray-600;
}
.bg-gray-alpha {
  background-color: #7e82990d;
}
.bg-orange {
  color: #F89C47 !important;
}