.border-gray-secondary {
     border-color: $gray-400 !important;
}
.border-light-gray {
      border-color: #EFF2F5 !important;
}
.border-dark-gray {
      border-color: $gray-700 !important
}
.border-light {
      border-color: $gray-300 !important;
}
.border-gray {
      border-color: $gray-600 !important;
}