.btn {
      &-light {
            color: $gray-400 !important;
      }

      &-close {
            background: #b5b5c3 !important;
            margin: 0 !important;
            padding: 0.5rem 0.5rem 0.6rem !important;

            i {
                  color: #53535c !important;
                  font-size: 14px;
            }
      }
}