.text-gray {
      color: $gray-600 !important;
}
.text-gray-secondary {
      color: $gray-400 !important;
}
.text-light-gray {
      color: $gray-700 !important;
}
.text-dark-gray {
      color: $gray-800 !important;
}
.text-light-black {
      color: $light-black !important;
}
.text-dark-black {
      color: $dark-black !important;
}