.icon-dashboard .path1:before {
      content: "\e900";
      color: #a1a5b7;
    }
    .icon-dashboard .path2:before {
      content: "\e901";
      color: #a1a5b7;
      opacity: 0.3;
      margin-left: -1em;
    }