.table-hover {
    tr td .edit-row {
        display: none;
    }
    &:hover>tbody>tr:hover {
        .edit-row {
            display: block
        }
        .record-status {
            display: none;
        }
    }
}