.table-hover {
    tr td .edit-row {
        opacity: 0;
    }
    &:hover>tbody>tr:hover {
        .edit-row {
            opacity: 1;
        }
        .record-status {
            display: none;
        }
    }
}